body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    background-image: linear-gradient(to bottom, #f24a4a,#e8a8a8);
    height: 8vh;
    margin-top: 0px;
    padding-top: 10px;
  }
  
  #input {
    display: flex;
    margin-bottom: 20px;
    
  }
  
  #input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .add-task{
    height: 10vh;
  }
  #input button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  .bg-container{
    background-image: linear-gradient(to bottom, #7b3af4,#8a46d3);
    background-size: cover;
    height: 80vh;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: #8a46d3;
  }
  
  .completed span {
    color: white;
  }
  
  button {
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }